version: '3'

services:
    composer:
        build:
            context: .
            dockerfile: Dockerfile.composer
            args:
                composer_dev_arg: ${COMPOSER_DEV_ARG}
        image: elifesciences/api-dummy_composer:${IMAGE_TAG}
        command: /bin/bash
    cli:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                image_tag: ${IMAGE_TAG}
            environment:
                DATA_FOLDER: ${DATA_FOLDER}
        image: elifesciences/api-dummy:${IMAGE_TAG}
        ports:
            - "8080:8080"
        depends_on:
            - composer
